/* -------------------------------------------------COMIENZA EL ESTILO DEL LOGIN Y REGISTRO ----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.lg{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('../recursos/img/fondo.jpeg');
    background-size: cover; /* Ajusta el tama침o de la imagen para cubrir el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}
/*------------ Login container ------------*/
.box-area{
    width: 750px;
}
/*------------ Right box ------------*/
.right-box{
    padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

/* -------------------------------------------------ALGUNOS ESTILO DEL REGISTRO ----------------------------------*/
/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}
/* registro */
.registro-conte{
    width: 600px;
}
.bregistrar{

    height: 100%;
    width: 50%;
}
@media only screen and (max-width: 768px) {
    .lg {
        background-size: auto;
    }
    .registro-conte {
        width: 90%; /* Ajusta el ancho del contenedor en pantallas peque침as */
        margin: auto; /* Centra el contenedor en pantallas peque침as */
    }
}

/* -------------------------------------------------COMIENZA EL ESTILO DEL HOME ----------------------------------*/

.cuerpo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.lista{
    align-items: flex-start;
    margin-left: auto;
}
#menu-principal{
    background-color: #daeaf6;
}
/* .titulo{
    background-color: black;
    color: #c9ac04;
    padding: 20px;
    text-align: center;
    margin: 0;
} */

.navegacion{
    margin-top: 40px;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navegacion a{
    background-color: #FFD700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
    font-weight: lighter;
    height: 20px;
}
.navegacion button {
    background-color: #FFD700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
    font-weight: lighter;
    height: 40px;
}

.navegacion a:hover, .navegacion button:hover {
    transition: all 0.3s ease;
    background-color: #8B0000;
    color: #FFFFFF;
    border-color: #8B0000;
}

.section {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cuadro {
    width: 25%;
    height: 350px;
    margin: 40px;
    text-align: center;
    background-color: rgba(125, 156, 135, 0.7); 
    padding: 20px;
    border-radius: 10px; 
}

.avatar img {
    width: 60%;
    height: 200px;
    margin: 0 auto 20px;
}

.boton a {
    display: inline-block; 
    padding: 5px 10px; 
    margin-top: 20px; 
    background-color: #D76606;
}
.cuadro .boton a{
    text-decoration: none;
    background-color: #D76606;
    color: black;
    font-size: large;
    padding: 0.5em 0.8em;
    border-radius: 0.313em;

    cursor: pointer;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #FFD700;
    font-size: 20px; 
}

.boton a:hover {
    background-color: #FFD700; 
    color: black;
    border-color: #D76606;
}

@media (max-width: 768px) {
    .cuadro {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .cuadro {
        width: 100%;
    }
}

.swal2-popup {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333333;
    color: #FFFFFF;
}

.swal2-title {
    color: #FFD700; 
}

.swal2-content {
    color: #FFFFFF; 
}

.custom-confirm-button {
    width: auto; /* Ajustar el ancho autom치ticamente al contenido */
    height: auto;
    font-size: 16px; 
}

/* -------------------------------------------------COMIENZA EL ESTILO DEL TABLERO ----------------------------------*/

.section1{
    background-color: rgb(255, 253, 253, 0.7);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
    margin: 40px auto;
}

button{
    width: 100px;
    height: 100px;
}
.timagen{
    width: 100%;
    height: 100%;
}
button:hover{
    cursor: pointer;
}
main{
    width: 730px;
    margin: 30px auto;
    display: flex;
}

.fotoPerfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 40px auto;
    border: 2px solid black;
}
.jugarbn{
    width: 150px;
    height: 40px;
    align-items: baseline;
    color: white; 
    text-decoration: none; 
    justify-content: center;
    align-items: center;
}
.quitarbn{
    width: 150px;
    height: 40px;
    align-items: baseline;
    color: white; 
    text-decoration: none; 
    justify-content: center;
    align-items: center;
}
/* -------------------------------------------------COMIENZA EL ESTILO DEL PERFIL ----------------------------------*/
.datos-pefil{
    text-align: center;
}
/* -------------------------------------------------COMIENZA EL ESTILO DEL RULETA ----------------------------------*/
.tituloganador{
    padding: 40px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 40px;
}
.tituloganador h1,p{
    text-align: center;
}

.wheel{
    display: flex;
    justify-content: center;
    position: relative;
}
.center-circle{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.triangle{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 30px solid white; 
    position: absolute;
    top: 50%;
    right: -220%;
    transform: translateY(-50%);
}
.iconosJugar{
    background-color: rgba(20, 20, 20, 0.2);
    caret-color: #fff;
    resize: none;
    color: #fff;
}
.inputArea{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


