/* -------------------------------------------------COMIENZA EL ESTILO DEL LOGIN Y REGISTRO ----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.lg{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('../recursos/img/fondo.jpeg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}
/*------------ Login container ------------*/
.box-area{
    width: 750px;
}
/*------------ Right box ------------*/
.right-box{
    padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

/* -------------------------------------------------ALGUNOS ESTILO DEL REGISTRO ----------------------------------*/
/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}
/* registro */
.registro-conte{
    width: 600px;
}
.bregistrar{

    height: 100%;
    width: 50%;
}
@media only screen and (max-width: 768px) {
    .lg {
        background-size: auto;
    }
    .registro-conte {
        width: 90%; /* Ajusta el ancho del contenedor en pantallas pequeñas */
        margin: auto; /* Centra el contenedor en pantallas pequeñas */
    }
}

/* -------------------------------------------------COMIENZA EL ESTILO DEL HOME ----------------------------------*/

.cuerpo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.lista{
    align-items: flex-start;
    margin-left: auto;
}
#menu-principal{
    background-color: #daeaf6;
}
/* .titulo{
    background-color: black;
    color: #c9ac04;
    padding: 20px;
    text-align: center;
    margin: 0;
} */

.navegacion{
    margin-top: 40px;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navegacion a{
    background-color: #FFD700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
    font-weight: lighter;
    height: 20px;
}
.navegacion button {
    background-color: #FFD700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
    font-weight: lighter;
    height: 40px;
}

.navegacion a:hover, .navegacion button:hover {
    transition: all 0.3s ease;
    background-color: #8B0000;
    color: #FFFFFF;
    border-color: #8B0000;
}

.section {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cuadro {
    width: 25%;
    height: 350px;
    margin: 40px;
    text-align: center;
    background-color: rgba(125, 156, 135, 0.7); 
    padding: 20px;
    border-radius: 10px; 
}

.avatar img {
    width: 60%;
    height: 200px;
    margin: 0 auto 20px;
}

.boton a {
    display: inline-block; 
    padding: 5px 10px; 
    margin-top: 20px; 
    background-color: #D76606;
}
.cuadro .boton a{
    text-decoration: none;
    background-color: #D76606;
    color: black;
    font-size: large;
    padding: 0.5em 0.8em;
    border-radius: 0.313em;

    cursor: pointer;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #FFD700;
    font-size: 20px; 
}

.boton a:hover {
    background-color: #FFD700; 
    color: black;
    border-color: #D76606;
}

@media (max-width: 768px) {
    .cuadro {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .cuadro {
        width: 100%;
    }
}

.swal2-popup {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333333;
    color: #FFFFFF;
}

.swal2-title {
    color: #FFD700; 
}

.swal2-content {
    color: #FFFFFF; 
}

.custom-confirm-button {
    width: auto; /* Ajustar el ancho automáticamente al contenido */
    height: auto;
    font-size: 16px; 
}

/* -------------------------------------------------COMIENZA EL ESTILO DEL TABLERO ----------------------------------*/

.section1{
    background-color: rgb(255, 253, 253, 0.7);
    padding: 0 5% 10px 5%; /* Ajustando los márgenes horizontalmente */
    border-radius: 8px;
    margin: 5% auto; /* Centrando verticalmente */
}

button{
    width: 30%; /* Utilizando un porcentaje para el ancho */
    height: auto; /* Permitiendo que la altura se ajuste automáticamente según el contenido */
    max-width: 150px; /* Limitando el ancho máximo */
    margin: 10px; /* Agregando espaciado entre los botones */
}
.timagen{
    width: 100%;
    height: auto; /* Permitiendo que la altura se ajuste automáticamente según el contenido */
}

button:hover{
    cursor: pointer;
}

main{
    width: 90%; /* Utilizando un porcentaje del ancho de la pantalla */
    margin: 5% auto; /* Centrando verticalmente */
    display: flex;
    flex-wrap: wrap; /* Permitiendo que los elementos se envuelvan cuando no haya suficiente espacio */
    justify-content: space-between; /* Espaciando uniformemente los elementos en la fila */
}

.fotoPerfil{
    width: 30%; /* Utilizando un porcentaje para el ancho */
    max-width: 150px; /* Limitando el ancho máximo */
    height: auto; /* Permitiendo que la altura se ajuste automáticamente según el contenido */
    border-radius: 50%;
    margin: 10% auto; /* Centrando verticalmente y agregando margen superior e inferior */
    border: 2px solid black;
}

.jugarbn, .quitarbn{
    width: 100%; /* Utilizando un porcentaje para el ancho */
    max-width: 150px; /* Limitando el ancho máximo */
    height: auto; /* Permitiendo que la altura se ajuste automáticamente según el contenido */
    margin: 10px auto; /* Centrando horizontalmente y agregando margen */
    text-align: center; /* Centrando el texto */
    padding: 10px; /* Añadiendo relleno */
    background-color: #31cc2e;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contenedor-numeros {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #e8e8e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.numero {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #00055d;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.numero.seleccionado {
    background-color: #066f14;
}

.numero.deshabilitado {
    background-color: #6d6d6d;
    cursor: not-allowed;
}

#girar, #reiniciar {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #31cc2e;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#girar:hover, #reiniciar:hover {
    background-color: #31cc2e;
}

.mensaje {
    font-size: 18px;
    margin-top: 20px;
    color: #2c3e50;
}

.contenedor-puntaje {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    background-color: gold;
    border-radius: 5px;
    color: #2c3e50;
}

.puntaje {
    font-size: 16px;
    margin-top: 10px;
    color: #2c3e50;
}

.flecha {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 5px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #000; /* Solo la punta de la flecha es de color negro */
    transform-origin: bottom;
    transition: transform 5s ease-in-out;
}



@media screen and (max-width: 768px) {
    .contenedor-numeros {
        text-align: center; /* Centrar los números horizontalmente */
        margin-left: 15px;
    }

    #girar, #reiniciar, .contenedor-puntaje, .puntaje {
        width: 100%;
        max-width: 200px;
        margin: 10px auto; /* Centrar horizontalmente con márgenes automáticos */
        display: block;
        text-align: center;
        margin-left: 80px;
    }
}

@media screen and (max-width: 480px) {
    .contenedor-numeros {
        text-align: center; /* Centrar los números horizontalmente */
        margin-left: 15px;
    }

    #girar, #reiniciar, .contenedor-puntaje, .puntaje {
        width: 100%;
        max-width: 200px;
        margin: 10px auto; /* Centrar horizontalmente con márgenes automáticos */
        display: block;
        text-align: center;
        margin-left: 80px;
    }
}

/* -------------------------------------------------COMIENZA EL ESTILO DEL PERFIL ----------------------------------*/
.datos-pefil{
    text-align: center;
}

/* -------------------------------------------------COMIENZA EL ESTILO ACERCA DE ----------------------------------*/

.descripcion{
    text-align: center;
    /*border: solid 3px red;*/
}

.integrante{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 0px 30px;
    padding: 1em;
    border-radius: 30px ;
    border: solid 3px #c7c7c7;
    line-height: 30px;
}

.imgInt{
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 50%;
    box-shadow: -18px 12px 10px -8px rgba(0,0,0,0.75);
}